// COLORS
$color-primary: #27ae60;
$color-primary-light: #89e5b0; 
$color-primary-dark: #145b32;
$color-white: #fff;
$color-grey: #555;
$color-black: #000;

// GRID SYSTEM
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;
$grid-width: 114rem;
