// COLORS
$color-primary: #27ae60;

$color-primary-light: #89e5b0; 
$color-primary-dark: #145b32;

$color-secondary-light: #b4b3ba;
$color-secondary-dark: #3d3d43;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-grey: #777777;
$color-grey-2: #eee;
$color-black: #000;
$color-grey-background: #f7f7f7;

// FONTS

$font-size-primary: 1.6rem;

// GRID SYSTEM
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;
$grid-width: 114rem;
