.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        // background-color: $color-white;
        padding: 1rem 3rem;
        border-radius: 10rem;
        transition: all .5s;
        animation: moveInBottom 1s ease-in;
        border: none;
    }

    &:hover {
        transform: translateY(-.6rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.5);
    }

    &,
    &:active {
        outline: none;
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.5);
    }

    &-white {
        background-color: $color-white;
        color: $color-grey;
    }
    &--green { 
        color: $color-white;
        background-color: $color-primary;
    }

}

.btn-text {
    &:link,
    &:visited {
        padding: 3px 5px;
        display: inline-block;
        
        text-decoration: none;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        font-size: 1.6rem;
        transition: all .2s;;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black,.5);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.5);
    }

}