.card {
    height: 55rem;
    position: relative;
    perspective: 150rem;
    &__side {  
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
        height: 55rem;
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all .8s;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        } 
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        height: 23rem;
        background-size: cover;
        background-blend-mode: color;

        @supports (clip-path: polygon(0 0)) {
            clip-path: polygon(0% 0%, 101% 0%, 101% 101%, 50% 95%, 0% 101%);
        }

        &--1 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url("../img/baikal-tour-400.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (-webkit-device-pixel-ratio: 2) and (min-width: 37.5em), 
                only screen and(min-width: 112.5em) {
                background-image: linear-gradient(to bottom,rgba($color-tertiary-light, 0.8), rgba($color-tertiary-dark,0.8)), url("../img/baikal-tour-800.jpg");
            }
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/altai-tour-400.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (-webkit-device-pixel-ratio: 2) and (min-width: 37.5em), 
                only screen and(min-width: 112.5em) {
                background-image: linear-gradient(to bottom,rgba($color-primary-light, 0.8), rgba($color-primary-dark,0.8)), url("../img/altai-tour-800.jpg");
            }
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/kamchatka-tour-400.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (-webkit-device-pixel-ratio: 2) and (min-width: 37.5em), 
                only screen and(min-width: 112.5em) {
                background-image: linear-gradient(to bottom,rgba($color-secondary-light, 0.8), rgba($color-secondary-dark,0.8)), url("../img/kamchatka-tour-800.jpg");
            }
        }
    }

    &__heading {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        color: $color-white;
        position: absolute;
        top: 10rem;
        right: 2rem;
        width: 50%;
        text-align: right;
    }

    &__heading-span {
        padding: 1rem 1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light,.8), rgba($color-tertiary-dark,.8));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light,.8), rgba($color-secondary-dark,.8));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li {
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-2;
                }
                text-align: center;
            }
        }
    }

    &__cta {
        color: $color-white;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__price-box {
        text-transform: uppercase;
        text-align: center;
    }

    &__price-only {
        font-size: 1.6rem;
    }

    &__price-value {
        font-size: 8rem;
        font-weight: 300;

    }

    @media only screen and (max-width: 56.25em),
                only screen and (hover: none)  {
                    
        height: auto;
        perspective: none;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
        overflow: hidden;
        background-color: $color-white;
        border: none;

        &__side {  
            height: auto;
            position: relative;
            top: 0;
            left: 0;
            border-radius: unset;
            box-shadow: none;
            transition: none;
            

            &--back {
                transform: none;
                clip-path: polygon(0% 5%, 50% 0%, 101% 5%, 101% 101%,0% 101%);
                
                
            } 
        }

        &:hover &__side--front {
            transform: none;
        }

        &:hover &__side--back {
            transform: none;
            
        }

        &__cta {
            color: $color-white;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            text-align: center;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}