body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    color: $color-grey;
}

.heading_primary {
    transition: all .2s;

    span {
        display: block;
        text-transform: uppercase;
        color: $color-white;
    }

    &-main {
        letter-spacing: 3rem;
        font-size: 6rem;
        font-weight: 400;
        animation: moveInLeft 1.5s ease-in;
    }

    &-sub {
        letter-spacing: 2.5rem;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 6rem;
        animation: moveInRight 1.5s ease-in;

    }
}